@model ReportViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="row fadeIn" style="margin:30px 30px 30px 30px">
    <div class="col-md-6">
        <i class="far fa-plus-square" style="font-size: 45px; color: #399a9a;">
            <span style="font-size:24pt;color:#399a9a">  Add New Report</span>
        </i>
    </div>
</div>
<hr />

<div class="card bg-light moveUp">
    <form asp-action="create" method="post">

        <div class="card-header" style="color:#399a9a">
            <i class="far fa-plus-square"></i> <b> Are you sure Add New Report ?</b>
        </div>

        <div class="card-body">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Code"></label>
                        <input asp-for="Code" class="form-control" placeholder="" autofocus />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Author"></label>
                        <input asp-for="Author" class="form-control" placeholder="" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="ReleaseYaer"></label>
                        <input asp-for="ReleaseYaer" class="form-control" placeholder="" autofocus />
                        <span asp-validation-for="ReleaseYaer" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" class="form-control" placeholder="" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="ReportTypeId"></label>
                        <br />
                        @Html.DropDownListFor(x => x.ReportTypeId, new SelectList(@Model.AllReportsTypes, "Id", "Name"), "-- Select Type--")
                        @*@Html.DropDownListFor(m => m.ReportTypeId, new SelectList(@Model.AllReportsTypes, "Id", "Name"))*@
                        @*<select asp-for="ReportTypeId" asp-items="@(new SelectList(Model.AllReportsTypes,"Id","Name"))">name</select>*@
                        <span asp-validation-for="ReportTypeId" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-footer">
            <button id="resetBtn" type="reset" class="btn btn-secondary"><i class="fas fa-ban"></i> Cancel</button>
            <button type="submit" class="btn btn-info"><i class="fas fa-database"></i>   Save   </button>
        </div>
    </form>
</div>
<br />



@section Scripts{

    <partial name="_ValidationScripts" />

    <script>

        (function () {

            $(function () {
                 $("button:reset").on("click", function () {

                    var url = '@Url.Action("IndexAsync")';
                    window.location.href = url;

                });
            });

        })();

    </script>

}
